<ion-content padding>
  <div *ngIf="islanguageadd == false">
      <ion-list>
          <ion-item-sliding *ngFor="let item of items" (click)="itemSelected(item)">
          <ion-item>
              <h2> {{ item.title }}</h2>
          </ion-item>
          <ion-icon name="arrow-forward"  end></ion-icon>
          <ion-item-options side="right">
              <button ion-button color="success" (click)="favorite(item)">Edit</button>
              <button ion-button color="danger" (click)="share(item)">Delete</button>
          </ion-item-options>
          </ion-item-sliding>
      </ion-list>
  </div>

  <div *ngIf="islanguageadd == true">
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="email" item-start class="text-primary"></ion-icon>
          Language
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button icon-start block color="dark" tappable (click)="save()">
          <ion-icon name="save"></ion-icon>
          Save
        </button>
      </ion-item>
    </form>
  </div>

  <ion-fab right bottom>
      <button (click)="addlanguage()" ion-fab color="light">
       <ion-icon name="{{iconName}}"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
