page-addusers {
    .block {
        position: relative
        deleteIcon {
          text-align : center;
          color: #ffffff !important;
          margin-left: 80% !important;
        }
        .deleteIcon:before {
          font-size: 30px !important;
        }
        }

        .user-avatar {
          width: 68px;
          height: 68px;
          display: inline-block;
          border-radius: 50%;
          img {
            border-radius: 50%;
          }
        }
}
