
<!-- -->
<ion-content padding>
  
  <!-- Login to System -->
  <div *ngIf="lostpassword == 0">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="Loginlogo"></div>
      <h4 ion-text class="text-primary">
        <strong>Donation Management  App</strong>
      </h4>
    </div>

    <ion-item>
      <ion-label floating>
        <ion-icon name="person" item-start class="text-primary"></ion-icon>
        In the Name of
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
   
    <!-- Login form -->
    <form  [formGroup]="user" (ngSubmit)="login(user)">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" #emailInput autocomplete="off" formControlName="emailaddress"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password"  autocomplete="no" formControlName="password"></ion-input>
      </ion-item>
      
      <div>
        <button ion-button color="secondary" icon-start block type="submit">
          <ion-icon name="log-in"></ion-icon>
          SIGN IN
        </button>
      </div>
      <p text-right ion-text color="secondary" (click)="forgotPass()"><strong>Forgot Password?</strong></p>
    </form>
  </div>

  <!-- Send OTP for Password Reset -->
  <div  *ngIf="lostpassword == 1">
    <form  [formGroup]="checkemail" >
      <div padding-horizontal text-center >
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>Donation</strong>-App
        </h2>
      </div>
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="verifyEmailId"></ion-input>
      </ion-item>
      <div>
        <button ion-button (click)="checkIfUserExists()" color="secondary" icon-start block type="submit">
          <ion-icon name="log-in"></ion-icon>
          Send OTP
        </button>
        <p text-center ion-text (click)="cancel()" color="secondary" tappable><strong>
          Back to Login
          </strong></p>
      </div>
    </form>
  </div>

  <!-- Verify OTP and Change Password -->
  <div  *ngIf="lostpassword == 2">
    <form  [formGroup]="verifyform" (ngSubmit)="changepassword(verifyform)">
      <div padding-horizontal text-center >
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
          <strong>Donation</strong>-App
        </h2>
      </div>

      <ion-item style="border-bottom: none;">
        <div style="position: relative;">
          <span ion-text class="text-primary">Enter verification code</span>
          <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"  item-start class="text-primary"></ion-icon>
          New Password
        </ion-label>
        <ion-input type="password"  [(ngModel)]="password"  formControlName="password"></ion-input>
      </ion-item>

      <ion-item class='form-text error' *ngIf="verifyform.controls.password.touched && !verifyform.controls.password.valid">
        <div style="font-size:small;">Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one digit.</div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"  item-start class="text-primary"></ion-icon>
          Re-enter Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword"
                   required show-password></ion-input>
      </ion-item>
      <ion-item class='form-text error' *ngIf="verifyform.controls.confirmPassword.touched && verifyform.hasError('mismatchedPasswords') && verifyform.controls.password.valid">
        <ion-label no-margin stacked>Passwords do not match</ion-label>
      </ion-item>


      <button ion-button color="secondary" icon-start block type="submit">
        <ion-icon name="log-in"></ion-icon>
        Change Password
      </button>
      <p text-center ion-text color="secondary" tappable (click)="cancel()"><strong>
          Cancel
        </strong></p>
    </form>
  </div>
</ion-content>
