<!-- -->
<ion-content padding class="login auth-page">
  <!-- Login to System -->
  <div class="login-content" *ngIf="lostpassword == 0">
    

    <!-- Login -->
    <div text-center>
      <div class="Loginlogo"></div>
      <h4 ion-text class="text-primary">
        <strong>Donation Management System</strong>
      </h4>
    </div>
   
    <!-- <button ion-button full (click)="createPdf()">Create PDF</button>
    <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button> -->
   
    <!-- Login form -->
    <form class="list-form" [formGroup]="user" autocomplete="off" (ngSubmit)="login(user)">
      <BR />
      <div class="floating-label">      
        <input class="floating-input" formControlName="emailaddress" type="email">
        <span class="highlight"></span>
        <label>Email Id</label>
      </div>

      <div class="floating-label">      
        <input class="floating-input" formControlName="password" [type]="getType()">
        <label>Password</label>
      </div>

      <ion-item style="border: none;">
        <ion-label for="checkbox" *ngIf="!passwordCheckbox" style="border-style: none;">Show password</ion-label>
        <ion-label for="checkbox" *ngIf="passwordCheckbox">Hide password</ion-label>
        <ion-checkbox class="marginTop" id="checkbox" style="border-style: none;"  (click)="toggleTextPassword(input)"></ion-checkbox>
      </ion-item>

      <!-- <div class="floating-label"> 
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
      </div> -->


    <!-- <ion-item style="border: none;">
      <ion-label for="checkbox" *ngIf="!passwordCheckbox" style="border-style: none;">Remember password</ion-label>
      <ion-label for="checkbox" *ngIf="passwordCheckbox">Don't Remember password</ion-label>
      <ion-checkbox class="marginTop" id="checkbox" style="border-style: none;"  (click)="toggleTextPassword(input)"></ion-checkbox>
    </ion-item> -->

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" autocomplete="off" formControlName="emailaddress"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item> -->
     
     

      <div>
        <button ion-button color="secondary" icon-start block [disabled]="!user.valid" type="submit">
          <ion-icon name="log-in"></ion-icon>
          SIGN IN
        </button>
      </div>
      <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
    </form>
  </div>

  <!-- Send OTP for Password Reset -->
  <div class="login-content" *ngIf="lostpassword == 1">
    <form class="list-form" [formGroup]="checkemail" >
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="Loginlogo"></div>
        <h2 ion-text class="text-primary">
          <strong>Donation Management System</strong>
        </h2>
      </div>
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="verifyEmailId"></ion-input>
      </ion-item> -->

      <div class="floating-label">      
        <input class="floating-input" formControlName="verifyEmailId" type="email" placeholder=" ">
        <span class="highlight"></span>
        <label>Email Id</label>
      </div>
      <div>
        <button ion-button (click)="checkIfUserExists()" color="secondary" icon-start block type="submit">
          <ion-icon name="log-in"></ion-icon>
          Send OTP
        </button>
        <p text-center ion-text (click)="cancel()" color="secondary" tappable><strong>
          Back to Login
          </strong></p>
      </div>
    </form>
  </div>

  <!-- Verify OTP and Change Password -->
  <div class="login-content" *ngIf="lostpassword == 2">
    <form class="list-form" [formGroup]="verifyform" (ngSubmit)="changepassword(verifyform)">
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="Loginlogo"></div>
        <h2 ion-text class="text-primary">
          <strong>Donation Management System</strong>
        </h2>
      </div>

      <ion-item style="border-bottom: none;">
        <div style="position: relative;">
          <span ion-text class="text-primary">Enter verification code</span>
          <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"  item-start class="text-primary"></ion-icon>
          New Password
        </ion-label>
        <ion-input type="password"  [(ngModel)]="password"  formControlName="password"></ion-input>
      </ion-item>

       <div class="floating-label">      
        <input class="floating-input" formControlName="verifyEmailId" type="email" placeholder=" ">
        <span class="highlight"></span>
        <label>Email Id</label>
      </div>

      <ion-item class='form-text error' *ngIf="verifyform.controls.password.touched && !verifyform.controls.password.valid">
        <div style="font-size:small;">Password must be between 6 and 12 characters with at least one capital letter, one small letter, and one digit.</div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock"  item-start class="text-primary"></ion-icon>
          Confirm Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" formControlName="confirmPassword"
                   required show-password></ion-input>
      </ion-item>
      <ion-item class='form-text error' *ngIf="verifyform.controls.confirmPassword.touched && verifyform.hasError('mismatchedPasswords') && verifyform.controls.password.valid">
        <ion-label no-margin stacked>Passwords do not match</ion-label>
      </ion-item>


      <!-- <button ion-button color="secondary" icon-start block type="submit">
        <ion-icon name="log-in"></ion-icon>
        Change Password
      </button>
      <p text-center ion-text color="secondary" tappable (click)="cancel()"><strong>
          Cancel
        </strong></p> -->

        <div>
          <button ion-button (click)="changepassword()" color="secondary" >
            
            Change Password
          </button>
          <p text-center ion-text (click)="cancel()" color="secondary" tappable><strong>
            Cancel
            </strong></p>
        </div>
    </form>
  </div>
</ion-content>
