<ion-content padding>
    <div *ngIf="iscatadd == false">
        <ion-card>
            <ion-list *ngFor="let item of items[0].Categories">
                <ion-item-sliding  (click)="itemSelected(item)">
                <ion-item>
                    <button ion-item>
                        {{ item.CategoryName }}
                      </button>
                </ion-item>
                <ion-icon name="arrow-forward"  end></ion-icon>
                <ion-item-options side="right">
                    <!-- <button ion-button color="success" (click)="favorite(item)">Edit</button> -->
                    <button ion-button color="danger" (click)="deleteCategory(item.CategoryID)">Delete</button>
                </ion-item-options>
                </ion-item-sliding>
            </ion-list>
          </ion-card> 
    </div>

    <div *ngIf="iscatadd == true">
      <ion-card>
        <ion-item padding>
            <ion-label color="dark" stacked>Category Name</ion-label>
            <ion-input type="text" [(ngModel)]="catName" placeholder="Category name"></ion-input>
        </ion-item>
        <ion-item>
        <button type="submit" ion-button block color="primary" (click)="save()">
            Save
          </button>
        </ion-item>
      </ion-card>
    </div>
      <ion-fab right bottom>
        <button (click)="addcategory()" ion-fab color="light">
            <ion-icon name="{{ iconName }}"></ion-icon>
        </button>
      </ion-fab>
</ion-content>
