<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Books Management</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <!-- <super-tabs scrollable="true" tabsPlacement="top" toolbarColor="light" indicatorColor="light"
      (tabSelect)="onTabSelect($event)">
          <super-tab *ngFor="let page of pages"  [root]="page.pageName" [title]="page.title" [id]="page.id">
      </super-tab>
    </super-tabs> -->
    <ion-tabs tabsPlacement="top" toolbarColor="light" indicatorColor="light">
      <div *ngFor="let page of pages"> 
        <ion-tab *ngIf="page.role == roleId" [root]="page.pageName" [tabTitle]="page.title" [tabIcon]="page.icon"></ion-tab>  
      </div>
    </ion-tabs>
</ion-content>
