<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button (click)="back()" ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Book Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="common-bg">
    <!--slides-->
    <ion-slides class="to-top" pager>
      <ion-slide *ngFor="let image of trip.images">
        <img [src]="image" alt="">
      </ion-slide>
    </ion-slides>
  

        <div class="border-bottom" padding>
            <ion-list>
                <ion-item>
                  <ion-label>Title :</ion-label>
                  <ion-input type="text" value="{{ bookData.BookName }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Description :</ion-label>
                    <ion-textarea rows="6" value="{{ bookData.BookName }}" cols="20"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>Category :</ion-label> 
                    <ion-input type="text" value="{{ bookData.CategoryName }}"></ion-input>
                  </ion-item>
                <ion-item>
                    <ion-label>Publisher :</ion-label> 
                    <ion-input type="text" value=" {{ bookData.PublisherName }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Author :</ion-label> 
                    <ion-input type="text" value="{{ bookData.AuthorName }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Page count :</ion-label> 
                    <ion-input type="text" value="{{ bookData.Pagecount }}"></ion-input>
                </ion-item>
               <ion-item>
                  <ion-label>Book Liked :</ion-label> 
                  <ion-input type="text" value="{{ bookData.booksliked }}"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label>Price :</ion-label> 
                  <ion-input type="text" value="{{ bookData.Price }}"></ion-input>
                </ion-item>
               
              <ion-item>
                  <ion-label>Total Stock :</ion-label> 
                  <ion-input type="text" value="{{ bookData.Stock }}"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label>Available :</ion-label> 
                  <ion-input type="text" value="{{ bookData.available }}"></ion-input>
                </ion-item>

             <ion-item>
                  <ion-label>Sold :</ion-label> 
                  <ion-input type="text" value="{{ bookData.sold }}"></ion-input>
             </ion-item>
             <ion-item text-center> 
                <ion-icon style="font-size: 3.2em;" name="thumbs-down"></ion-icon>&nbsp;
                <ion-icon style="font-size: 3.2em;" name="thumbs-up"></ion-icon>
          </ion-item>
          <ion-item text-center *ngIf="roleId == 0">
              <button ion-button color="light">
                  <ion-icon name="ios-more"></ion-icon>
                  Edit
                </button>
                <button ion-button color="primary">
                  <ion-icon name="text"></ion-icon>
                  Delete
                </button>
          </ion-item>
          <ion-item *ngIf="roleId != 0">
              <ion-label floating>Claim for (member):</ion-label>
              <ion-select>
                <ion-option value="e">Jagruti</ion-option>
                <ion-option value="m">Sneha</ion-option>
                <ion-option value="h">Anoop</ion-option>
                <ion-option value="g">Kundan</ion-option>
              </ion-select>
          </ion-item>
          <ion-item text-center *ngIf="roleId != 0">
              <button ion-button icon-start block color="dark" >
                  Claim
                </button>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
