<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button (click)="back()" ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Book Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="common-bg">
    <!--slides-->
    <ion-slides class="to-top" pager>
      <ion-slide *ngFor="let item of slideimgs">
        <img height="150px" src="https://ankurpratishthan.com{{item.image}}" alt="">
      </ion-slide>
    </ion-slides>
        <div class="border-bottom" padding>
          <form [formGroup]="frmbooks" novalidate >
            <ion-list>
                <ion-item>
                  <ion-label>Title :</ion-label>
                  <ion-input type="text" formControlName="bookname" value="{{ bookData.BookName }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Description :</ion-label>
                    <ion-textarea rows="6" formControlName="bookdescription" value="{{ bookData.BookDescription }}" cols="20"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>Category :</ion-label> 
                    <ion-input type="text" formControlName="bookcategory" value="{{ bookData.CategoryName }}"></ion-input>
                  </ion-item>
                <ion-item>
                    <ion-label>Publisher :</ion-label> 
                    <ion-input type="text" formControlName="bookpublisher" value=" {{ bookData.PublisherName }}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Author :</ion-label> 
                    <ion-input type="text" formControlName="bookauthor" value="{{ bookData.AuthorName }}"></ion-input>
                </ion-item>
              <ion-item *ngIf="roleId == 1">
                  <ion-label>Price :</ion-label> 
                  <ion-input type="text" formControlName="bookprice" value="{{ bookData.Price }}"></ion-input>
              </ion-item>
               
              <ion-item *ngIf="roleId == 1">
                  <ion-label>Total Stock :</ion-label> 
                  <ion-input type="text" formControlName="booktotalstock" value="{{ bookData.Stock }}"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label>Available :</ion-label> 
                  <ion-input type="text" formControlName="bookisavailable" value="{{ bookData.available }}"></ion-input>
                </ion-item>

             <ion-item *ngIf="roleId == 1">
                  <ion-label>Sold :</ion-label> 
                  <ion-input type="text" formControlName="booksold" value="{{ bookData.sold }}"></ion-input>
             </ion-item>
        </ion-list>
      </form>

      <ion-item text-center *ngIf="roleId == 1">
        <button ion-button block color="primary" (click)="updateBook()">
          Update Book
        </button>
      </ion-item>
      
      
     <ion-card>
      <ion-item>
        <ion-label floating>Claim for (member):</ion-label>
        <ion-select [(ngModel)]="memberId">
          <ion-option *ngFor="let item of memberdata;" value="{{ item.MemberID }}">{{ item.FirstName }} {{ item.LastName }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item text-center>
        <button ion-button block color="dark" (click)="claimBook(memberId)" >
            Claim
          </button>
     </ion-item>
     </ion-card>
      </div>
  </ion-content>
