<ion-content padding>
    <div *ngIf="isbookadding == false">
      <ion-searchbar (ionInput)="filterItems($event)" showCancelButton="always"></ion-searchbar>
      <ion-list>
          <div *ngFor="let item of items">
              <ion-item-sliding>
                <ion-item>
                  <ion-thumbnail item-start *ngIf="item.ThumbImage !=''">
                    <img src="https://ankurpratishthan.com:8443/{{ item.ThumbImage }}">
                  </ion-thumbnail>
                  <ion-thumbnail item-start *ngIf="item.ThumbImage ==''" >
                    <img src="assets/icon/thumbnail.png">
                  </ion-thumbnail>
                  <h2>{{ item.BookName }}</h2>
                  <h3>{{ item.BookDescription }}</h3>
                  <p>Language : {{ item.Language }}</p>
                  <p>Author :{{ item.AuthorName }}</p>
                  <p>Publisher :{{ item.PublisherName }}</p>
                  <p>Category: {{ item.CategoryName }}</p>
                </ion-item>
                <ion-item-options *ngIf="usrRoleId == 1">
                  <button (click)="bookDetails(item)" ion-button color="secondary" icon-start>
                    <ion-icon name="edit"></ion-icon>
                    Edit
                  </button>
                  <button (click)="updateBook(item)" ion-button color="primary" icon-start>
                    <ion-icon name="text"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
              </ion-item-sliding>
          </div>
        </ion-list>
    </div>

    <div *ngIf="isbookadding == true">
      <form [formGroup]="frmbooks" novalidate (ngSubmit)="addBook(frmbooks)">
        <ion-item>
          <ion-label floating>
            <ion-icon name="email"  item-start class="text-primary"></ion-icon>
            Book Name
          </ion-label>
          <ion-input formControlName="bookname" type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Author
          </ion-label>
          <ion-input formControlName ="author" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Price
          </ion-label>
          <ion-input formControlName="price" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Quantity
          </ion-label>
          <ion-input formControlName="quantity" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Category</ion-label>
            <ion-select formControlName="Category">
              <ion-option *ngFor="let item of categories" [value]="item.CategoryID">{{ item.CategoryName }}</ion-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Publisher</ion-label>
          <ion-select formControlName="language">
            <ion-option *ngFor="let item of publishers" [value]="item.PublisherID">{{ item.PublisherName }}</ion-option>
          </ion-select>
       </ion-item>

        <ion-item>
            <ion-label floating>Language</ion-label>
            <ion-select formControlName="language">
              <ion-option *ngFor="let item of languages" [value]="item.LanguageID">{{ item.LanguageName }}</ion-option>
            </ion-select>
        </ion-item>
      
        <button type="submit" ion-button block color="primary" [disabled]="frmbooks.invalid">
          Save
        </button>

        <p>Please go to QRCODE screen to get pdf generated and send email to print QR Code Stickers.</p>
      </form>
    </div>

    

    <ion-fab right bottom *ngIf="usrRoleId == 1">
      <button (click)="addbook()" ion-fab color="light">
        <ion-icon name="{{ iconName }}"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
