<ion-content padding>
    <div *ngIf="isbookadding == false">
      <ion-searchbar (ionInput)="getItems($event)" showCancelButton="always"></ion-searchbar>
      <ion-list>
          <div *ngFor="let item of items">
              <ion-item-sliding (click)="bookDetails()">
                <ion-item>
                  <ion-thumbnail item-start>
                    <img src="{{ item.icon }}">
                  </ion-thumbnail>
                  <h2>{{ item.title }}</h2>
                  <p>{{ item.subtitle }}</p>
                  <p>{{ item.author }}</p>
                </ion-item>
                <ion-item-options *ngIf="usrRoleId == 0">
                  <button ion-button color="light" icon-start>
                    <ion-icon name="ios-more"></ion-icon>
                    Edit
                  </button>
                  <button ion-button color="primary" icon-start>
                    <ion-icon name="text"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
              </ion-item-sliding>
          </div>
        </ion-list>
    </div>

    <div *ngIf="isbookadding == true">
      <form (ngSubmit)="encodedText($event)">
        <ion-item>
          <ion-label floating>
            <ion-icon name="email" [(ngModel)]="bookname" item-start class="text-primary"></ion-icon>
            Book Name
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Publisher
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Author
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Price
          </ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Category</ion-label>
            <ion-select >
              <ion-option value="a">Arts & Music</ion-option>
              <ion-option value="b">Biographies</ion-option>
              <ion-option value="bu">Business</ion-option>
              <ion-option value="k">Kids</ion-option>
              <ion-option value="c">Comics</ion-option>
              <ion-option value="ct">Computers & Tech</ion-option>
              <ion-option value="ck">Cooking</ion-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Language</ion-label>
            <ion-select>
              <ion-option value="e">English</ion-option>
              <ion-option value="m">Marathi</ion-option>
              <ion-option value="h">Hindi</ion-option>
              <ion-option value="g">Gujrati</ion-option>
              <ion-option value="u">Urdu</ion-option>
            </ion-select>
        </ion-item>
       

        <button ion-button icon-start block color="dark" type="submit">
            <ion-icon name="save"></ion-icon>
            Save
        </button>
        <p>Please go to QRCODE screen to get pdf generated and send email to print QR Code Stickers.</p>
      </form>
    </div>

    

    <ion-fab right bottom *ngIf="usrRoleId == 0">
      <button (click)="addbook()" ion-fab color="light">
        <ion-icon name="{{ iconName }}"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
