<ion-content padding>
    
    <div *ngIf="isbookadding == false">
      <ion-searchbar showCancelButton="always"></ion-searchbar>
      <ion-list>
        <ion-list-header>
            Anthology
        </ion-list-header>
        <ion-item-sliding (click)="bookDetails()">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/img/books/Poets.jpeg">
            </ion-thumbnail>
            <h2>The Poets Laureate Anthology</h2>
            <p>An anthology is a collection of series of works such as short stories, poems, essays, plays, etc. by different authors into a single volume for publication. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
            <p>by Elizabeth Hun Schmidt</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="light" icon-start>
              <ion-icon name="ios-more"></ion-icon>
              Edit
            </button>
            <button ion-button color="primary" icon-start>
              <ion-icon name="text"></ion-icon>
              Delete
            </button>
            <!-- <button ion-button color="secondary" icon-start>
              <ion-icon name="call"></ion-icon>
              Update
            </button> -->
          </ion-item-options>
        </ion-item-sliding>
    
        <ion-item-sliding>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/books/ToKillaMockingbird.jpeg">
              </ion-thumbnail>
              <h2>To Kill a Mockingbird</h2>
              <p>To Kill a Mockingbird. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
              <p>by Harper Lee</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                Edit
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Delete
              </button>
              <!-- <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Update
              </button> -->
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    
      
      <ion-list>
          <ion-list-header>
              Comic and Graphic Novel
          </ion-list-header>
          <ion-item-sliding>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/books/Batman-TheDarkKnightReturns.jpeg">
              </ion-thumbnail>
              <h2>Batman: The Dark Knight Returns</h2>
              <p>Batman: The Dark Knight Returns anthology is a collection of series of works such as short stories, poems, essays, plays, etc. by different authors into a single volume for publication. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
              <p>by Frank Miller</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                Edit
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Delete
              </button>
              <!-- <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Update
              </button> -->
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/books/SherlockHolmes.jpeg">
                </ion-thumbnail>
                <h2>Sherlock Holmes</h2>
                <p>Arthur Conan Doyle for publication. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
                <p>by Arthur Conan Doyle</p>
              </ion-item>
              <ion-item-options>
                <button ion-button color="light" icon-start>
                  <ion-icon name="ios-more"></ion-icon>
                  Edit
                </button>
                <button ion-button color="primary" icon-start>
                  <ion-icon name="text"></ion-icon>
                  Delete
                </button>
                <!-- <button ion-button color="secondary" icon-start>
                  <ion-icon name="call"></ion-icon>
                  Update
                </button> -->
              </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/books/SherlockHolmes.jpeg">
                </ion-thumbnail>
                <h2>Sherlock Holmes</h2>
                <p>Arthur Conan Doyle for publication. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
                <p>by Arthur Conan Doyle</p>
              </ion-item>
              <ion-item-options>
                <button ion-button color="light" icon-start>
                  <ion-icon name="ios-more"></ion-icon>
                  Edit
                </button>
                <button ion-button color="primary" icon-start>
                  <ion-icon name="text"></ion-icon>
                  Delete
                </button>
                <!-- <button ion-button color="secondary" icon-start>
                  <ion-icon name="call"></ion-icon>
                  Update
                </button> -->
              </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/img/books/SherlockHolmes.jpeg">
                </ion-thumbnail>
                <h2>Sherlock Holmes</h2>
                <p>Arthur Conan Doyle for publication. The selection of such works is made based on some common theme or subject of books and usually done by an editor or small editorial board.</p>
                <p>by Arthur Conan Doyle</p>
              </ion-item>
              <ion-item-options>
                <button ion-button color="light" icon-start>
                  <ion-icon name="ios-more"></ion-icon>
                  Edit
                </button>
                <button ion-button color="primary" icon-start>
                  <ion-icon name="text"></ion-icon>
                  Delete
                </button>
                <!-- <button ion-button color="secondary" icon-start>
                  <ion-icon name="call"></ion-icon>
                  Update
                </button> -->
              </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngIf="isbookadding == true">
      <form (ngSubmit)="encodedText($event)">
        <ion-item>
          <ion-label floating>
            <ion-icon name="email" [(ngModel)]="bookname" item-start class="text-primary"></ion-icon>
            Book Name
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Publisher
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Author
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="email" item-start class="text-primary"></ion-icon>
            Price
          </ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Category</ion-label>
            <ion-select >
              <ion-option value="a">Arts & Music</ion-option>
              <ion-option value="b">Biographies</ion-option>
              <ion-option value="bu">Business</ion-option>
              <ion-option value="k">Kids</ion-option>
              <ion-option value="c">Comics</ion-option>
              <ion-option value="ct">Computers & Tech</ion-option>
              <ion-option value="ck">Cooking</ion-option>
            </ion-select>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Language</ion-label>
            <ion-select>
              <ion-option value="e">English</ion-option>
              <ion-option value="m">Marathi</ion-option>
              <ion-option value="h">Hindi</ion-option>
              <ion-option value="g">Gujrati</ion-option>
              <ion-option value="u">Urdu</ion-option>
            </ion-select>
        </ion-item>
       

        <button ion-button icon-start block color="dark" type="submit">
            <ion-icon name="save"></ion-icon>
            Save
        </button>
        <p>Please go to QRCODE screen to get pdf generated and send email to print QR Code Stickers.</p>
      </form>
    </div>

    

    <ion-fab right bottom>
      <button (click)="addbook()" ion-fab color="light">
        <ion-icon name="{{ iconName }}"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
