page-mydonors {
    .segbtn1{
        border-top-left-radius:  13px;
    }

    .segbtn2{
        border-top-right-radius:  13px;
    }

    .searchbar-input {
        background: #FFF !important;
        border-radius: 5px !important;
        height: 40px !important;
        max-width: auto;
        font-size: 0.9em !important;
        border: 1px solid transparent;
    }
}
